<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../public/manage/css/lib/iview.css">
        <link rel="stylesheet" href="../public/home.css">
    </head>
    <body>
        <div class="home" v-cloak>
            <div class="entranceView">

            </div>
        </div>

    	<script type="text/javascript" src="../public/manage/js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../public/manage/js/lib/vue.min.js"></script>
    	<script type="text/javascript" src="../public/manage/js/lib/iview.min.js"></script>
    	<script type="text/javascript" src="../public/home.js"></script>
    </body>
</html>
