{% extends "teacher/parent.html" %}

{% block cssfolder %}
<link rel="stylesheet" href="../public/teacher/css/lib/iview.css">
<link rel="stylesheet" href="../public/teacher/css/src/basic.css">
<link rel="stylesheet" href="../public/teacher/css/src/courseDetail.css">
{% endblock %}


{% block right %}
<div class="right">
    {% block headMenu %}
        <div class="headMenu">
            <div class="leftTabs">

            </div>
            <div class="rightUserInfo">
                <img class="headImg" src="../public/images/user.png">
                <span class="username">skhdbsb</span>
                <i-button class="loginOut" type="error" icon="md-log-out" shape="circle" to="/logout"></i-button>
            </div>
        </div>
    {% endblock %}

    <!-- 店铺筛选 -->
    <div class="filtrMenu">
        <div class="filtrLeft">

        </div>
        <div class="filtrRight">
            <i-button class="backBtn" type="warning" @click="back">返回</i-button>
        </div>
    </div>
    <!-- 店铺筛选 end -->

    <!-- 课程视频详情 -->
    <div class="courseDetail">
        <div class="leftVideoDetail">
            <p class="title" v-text="'课程名称：《' + courseName + '》'"></p>
            <video class="video" :src="videoAddress?videoAddress:''" controls autoplay >

            </video>
        </div>
        <div class="rightInfoDetail">
            <p class="title" v-text="'课程名称：《' + courseName + '》'"></p>
            <div class="courseInfoDetial">
                <p class="desTitle">课程简介：</p>
                <span class="des" v-text="courseAbstract"></span>
            </div>
        </div>
    </div>
    <!-- 课程视频详情 end -->
</div>
{% endblock %}

{% block jsfolder %}
	<script type="text/javascript" src="../public/teacher/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../public/teacher/js/lib/vue.min.js"></script>
	<script type="text/javascript" src="../public/teacher/js/lib/iview.min.js"></script>
	<script type="text/javascript" src="../public/teacher/js/src/config.js"></script>
	<script type="text/javascript" src="../public/teacher/js/src/courseDetail.js"></script>
{% endblock %}
