<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<title>小尖创新教育互动课程系统</title>

		<!-- css文件引用 -->
        <link rel="stylesheet" href="../public/teacher/css/lib/iview.css">
        <link rel="stylesheet" href="../public/teacher/css/src/basic.css">
        <link rel="stylesheet" href="../public/teacher/css/src/h5cabinet.css">
        <!-- 百度统计 -->
		<script>

		</script>

	</head>
	<body id="h5PageBody">
    <div class="index" v-cloak>

        <!-- h5播放 -->
        <div class="container">
			<div class="optsView">
				<div class="opts">
					<div class="numH5" @click="clickNumH5(0)">
						<div :class="{active:isActiveNum == '0'}"></div>
						<span> 1 </span>
					</div>
					<div class="numH5" @click="clickNumH5(1)">
						<div :class="{active:isActiveNum == '1'}"></div>
						<span> 2 </span>
					</div>
					<div class="numH5" @click="clickNumH5(2)" v-show="courseType == 1">
						<div :class="{active:isActiveNum == '2'}"></div>
						<span> 3 </span>
					</div>
					<div class="numH5" @click="clickNumH5(3)"  v-show="courseType == 1">
						<div :class="{active:isActiveNum == '3'}"></div>
						<span> 4 </span>
					</div>
					<div class="prevH5" @click="clickPrevH5">
						<div :class="{active:isActiveNum == '0'}"></div>
						<img src="../public/images/btn_arrow_up.png">
					</div>
					<div class="nextH5" @click="clickNextH5">
						<div :class="{active: courseType == 1 ? isActiveNum == '3' : isActiveNum == '1' }"></div>
						<img src="../public/images/btn_arrow_down.png">
					</div>
					<div class="playH5">
						<div></div>
						<img src="../public/images/btn_left.png">
					</div>
					<div class="backH5" @click="clickBackH5">
						<div></div>
						<img src="../public/images/btn_back.png">
					</div>
				</div>
			</div>
			<iframe id="h5Iframe" :src="playH5Address" width="1920px" height="100%;" frameborder="0"></iframe>
        </div>
        <!-- h5播放 end -->

	</div>
	<!-- js文件引用 -->
    	<script type="text/javascript" src="../public/teacher/js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../public/teacher/js/lib/vue.min.js"></script>
    	<script type="text/javascript" src="../public/teacher/js/lib/iview.min.js"></script>
    	<script type="text/javascript" src="../public/teacher/js/src/config.js"></script>
    	<script type="text/javascript" src="../public/teacher/js/src/h5cabinet.js"></script>
</body>
</html>
