<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<title>小尖创新教育互动课程系统</title>

		<!-- css文件引用 -->
		{% block cssfolder %}

		{% endblock %}
        <!-- 百度统计 -->
		<script>

		</script>

	</head>
	<body>
    <div class="index" v-cloak>
        <div class="container">
            <!-- 左侧菜单 -->
    		{% block left %}
                <div class="left">
                    <img class="logo" src="/public/images/logo-white.png">
                    <div class="menuBtns">
                        <i-button class="menuBtn active" shape="circle" @click="menuChange(0)">店铺信息管理</i-button>
                        <i-button class="menuBtn" shape="circle" @click="menuChange(1)">店铺信息查看</i-button>
                        <i-button class="menuBtn" shape="circle" @click="menuChange(2)">课程内容学习</i-button>
                    </div>
                </div>
    		{% endblock %}

    		<!-- 内容 -->
    		{% block right %}
                    {% block headMenu %}

            		{% endblock %}

    		{% endblock %}

    		<!-- 底部 -->
    		{% block footer %}

    		{% endblock %}
        </div>


	</div>
	<!-- js文件引用 -->
	{% block jsfolder %}

	{% endblock %}
</body>
</html>
