<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<title>小尖创新教育互动课程系统</title>

		<!-- css文件引用 -->
        <link rel="stylesheet" href="../public/teacher/css/lib/iview.css">
        <link rel="stylesheet" href="../public/teacher/css/src/basic.css">
        <link rel="stylesheet" href="../public/teacher/css/src/scheduleToday.css">
        <!-- 百度统计 -->
		<script>

		</script>

	</head>
	<body>
    <div class="index" v-cloak>

        <!-- 当天课程列表 -->
        <div class="container">
            <div class="headMenu">
                <div class="leftTabs">
					 <i-button class="tabsBtn" type="warning" to="/logout">返回首页</i-button>
                </div>
                <div class="rightUserInfo">
	                {% if user.headicon %}
	                    <img class="headImg" src="{{user.headicon}}">
	                    <span class="username" v-text="'{{user.realname}}'"></span>
	                {% else %}
	                    <img class="headImg" src="../public/images/user.png">
	                    <span class="username">游客</span>
	                {% endif %}

                </div>
            </div>
            <div class="scheduleView">
                <p class="welcome" v-text="'欢迎您，教师' + '{{user.realname}}' + '！这是今日的课表！'"></p>
                <div class="scheduleList">
                    <div class="scheduleItem" v-for="(item,index) in dataSourse">
                        <div class="time">
                            <p class="courseNum" v-text="courseNumberData[index].label"></p>
                            <p class="date" v-text="courseNumberData[index].value"></p>
                        </div>
                        <div class="courseDetail">
                            <img v-if="item" :src="item.courseA.courseThumbB?item.courseA.courseThumbB:'../public/images/course_default.png'" @click="clickCourse(item.courseA.videoAddress)">
                            <img v-else src="../public/images/course_default.png">

                            <p v-if="item" v-text="item.courseA.courseName?item.courseA.courseName:'——'"></p>
                            <p v-else style="color:red;" v-text="'——'"></p>

                            <img v-if="item" :src="item.courseB.courseThumbB?item.courseB.courseThumbB:'../public/images/course_default.png'" @click="clickCourse(item.courseB.videoAddress)">
                            <img v-else src="../public/images/course_default.png">

                            <p v-if="item" v-text="item.courseB.courseName?item.courseB.courseName:'——'"></p>
                            <p v-else style="color:red;" v-text="'——'"></p>
                        </div>
                        <div class="opts">
                            <i-button class="tabsBtn" type="warning" @click="openStudentListModal">开始点名</i-button>
                            <i-button class="tabsBtn" type="warning" @click="startClass(item.courseA?item.courseA.Id:'0',item.courseB?item.courseB.Id:'0')">开始上课</i-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 当天课程列表 end -->

        <!-- 学生点名弹框 -->
        <modal class="studentModal" v-model="studentListModal" footer-hide :mask-closable="false" :closable="false" :mask="false" width="1300">
			<icon class="closeIcon" size="20" type="md-close-circle" @click="closeModel"></icon>
			<img src="../public/images/popLayer.png" style="position: absolute;width: 1260px;height: 600px;">
			<div class="studentListView" v-if="!CheckIsOk">
                <p class="title">学生名单</p>
                <checkbox-group v-model="studentGroup">
                    <row>
                        <i-col :xs="24" :sm="12" :md="4" :lg="4" v-for="(item,index) in studentData">
            				<checkbox class="studentName" size="large" :label="item"></checkbox>
                        </i-col>
                    </row>
            	</checkbox-group>
				<div class="opts">
					<i-button class="submitBtn" type="warning" @click="submit">完成点名</i-button>
					<i-button class="cancelBtn" type="warning" @click="closeModel">取消</i-button>
				</div>
            </div>
			<div v-else class="checkOkView" style="min-height:600px;">
				<p class="checkOkText">本课程应到</p>
				<p class="peopleNum" v-text="studentData.length"></p>
				<p class="checkOkText">人，实到</p>
				<p class="peopleNum" v-text="studentGroup.length"></p>
				<p class="checkOkText">人</p>
			</div>
        </modal>
        <!-- 学生点名弹框 end -->

		<!-- 课程视频弹框 -->
        <modal v-model="courseVideoModal" footer-hide :closable="false" :width="932">
			<icon class="closeIcon" size="20" type="md-close-circle" @click="closeVideoModel"></icon>
			<video class="courseVideo" :src="videoAddress" autoplay></video>
        </modal>
        <!-- 学生点名弹框 end -->


		<img class="footerImg" src="/public/images/footImg.png">
	</div>
	<!-- js文件引用 -->
    	<script type="text/javascript" src="../public/teacher/js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../public/teacher/js/lib/vue.min.js"></script>
    	<script type="text/javascript" src="../public/teacher/js/lib/iview.min.js"></script>
    	<script type="text/javascript" src="../public/teacher/js/src/config.js"></script>
    	<script type="text/javascript" src="../public/teacher/js/src/scheduleToday.js"></script>
</body>
</html>
