[v-cloak]{
    display: none;
}
.index{
    width: 1920px;
    margin: 0 auto;
    height: 100vh;
    /* border: solid 2px black; */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
/* *****************顶部菜单栏：课程管理  人员管理  信息查看****************** */
.container .headMenu{
    width: 90%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}
.container .headMenu .leftTabs{
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 80px;
}
.container .headMenu .leftTabs .tabsBtn{
    font-size: 17px;
    color: #656565;
    border-bottom: none;
}
.container .headMenu .leftTabs .tabsBtn.active{
    font-size: 17px;
    color: #FFC837;
    border-bottom: solid;
}
.container .headMenu .rightUserInfo{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container .headMenu .rightUserInfo .headImg{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
}
.container .headMenu .rightUserInfo .username{
    font-size: 16px;
    color: #656565;
    letter-spacing: 1px;
}
.container .headMenu .rightUserInfo .loginOut{
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
}

/* 当天课程列表 */
.container .scheduleView{
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .scheduleView .welcome{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #FFC837;
}
.container .scheduleView .scheduleList{
    width: 90%;
    margin:40px auto;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.container .scheduleView .scheduleList .scheduleItem{
    width: 250px;
    height: 600px;
    border: solid 2px #E4E4E4;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.container .scheduleView .scheduleList .scheduleItem:hover{
    border: solid 2px #FFC837;
}
.container .scheduleView .scheduleList .scheduleItem .time{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.container .scheduleView .scheduleList .scheduleItem .time .courseNum{
    font-size: 20px;
    color: #989898;
}
.container .scheduleView .scheduleList .scheduleItem .time .date{
    font-size: 18px;
    color: #CBCBCB;
}
.container .scheduleView .scheduleList .scheduleItem .courseDetail{
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.container .scheduleView .scheduleList .scheduleItem .courseDetail img{
    width: 150px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.container .scheduleView .scheduleList .scheduleItem .courseDetail p{
    font-size: 18px;
    color: #918B88;
}
.container .scheduleView .scheduleList .scheduleItem .opts{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.container .scheduleView .scheduleList .scheduleItem .opts .tabsBtn{
    width: 60%;
    color:#989898;
    border: solid 1px #FFC837;
    background: #fff;
}

/* 学生点名弹框 */
.ivu-modal-header{
    display: none;
}
.studentListView{
    width: 1030px;
    height: 530px;
    margin: 0 auto;
}
.studentListView .title{
    font-size: 28px;
    color: #FFC837;
    text-align: center;
    margin: 20px auto;
    letter-spacing: 5px;
    font-weight: bold;
    position: relative;
    margin-top: 70px;;
}

.studentListView .studentName{
    height: 50px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.studentListView .studentName .ivu-checkbox-checked .ivu-checkbox-inner{
    border-color: #FFC837;
    background-color: #FFC837;
}
.studentListView .studentName .ivu-checkbox{
    margin-right: 15px;
}
.studentModal .ivu-modal-content{
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.studentListView .opts{
    position: relative;
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.studentListView .opts .cancelBtn,
.studentListView .opts .submitBtn{
    border-color: #FFC837;
    background: #FFC837;
}
.studentListView .opts .cancelBtn{
    margin-left: 40px;
}
.checkOkView{
    position: relative;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checkOkView .checkOkText{
    width: 100%;
    font-size: 24px;
    color: #FFC837;
    text-align: center;
    letter-spacing: 3px;
    margin-top: -130px;
}
.closeIcon{
    position: absolute;
    right: 20px;
    cursor: pointer;
    z-index: 2;
}

.courseVideo{
    margin-top: 30px;
    width: 100%;
}
