[v-cloak]{
    display: none;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: url(/public/images/home_bg.png)no-repeat bottom center;
}

.home .entranceView{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.home .entranceView .manageEntranceBox,
.home .entranceView .shopEntranceBox,
.home .entranceView .teacherEntranceBox{
    width: 310px;
    height: 310px;
    line-height: 300px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    cursor: pointer;
    background:url(/public/images/home_bg_img.png)no-repeat center center;
}

@media only screen and (min-width: 1920px) {
    .home{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 1920px;
        height: 100vh;
        margin: 0 auto;
        background: url(/public/images/home_bg.png)no-repeat bottom center;
    }
    .home .entranceView{
        width: 1536px;
    }
}
