[v-cloak]{
    display: none;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: pink
}

.home .entranceView{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.home .entranceView .manageEntranceBox,
.home .entranceView .shopEntranceBox,
.home .entranceView .teacherEntranceBox{
    width: 350px;
    height: 300px;
    line-height: 300px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    cursor: pointer;

    background:gray
}
