/* ************添加课程************* */
.right .title{
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
    color: #FFC837;
    letter-spacing: 2px;
}
.right .formView{
    width: 60%;
    margin-top: 20px;
    margin-left: 5%;
}
.mainCourseH5Upload{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.mainCourseH5Upload .h5_1,
.mainCourseH5Upload .h5_2{
    width: 295px;
    height: 130px;
}
.otherCourseH5Upload{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.otherCourseH5Upload .h5_3,
.otherCourseH5Upload .h5_4{
    width: 295px;
    height: 130px;
}
.right .formView .progressView .ivu-progress-show-info .ivu-progress-outer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerImg{
    display: none;
}
.footerSubImg{
    height: 13px;
    width: auto;
    margin-left: 3%;
}
