/* ************添加课程************* */
.right .title{
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    font-size: 22px;
    font-weight: bold;
    color: #FFC837;
    letter-spacing: 2px;
}
.right .formView{
    width: 60%;
    margin-top: 20px;
    margin-left: 5%;
}
.right .formView .progressView .ivu-progress-show-info .ivu-progress-outer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
