.right .headMenu .leftTabs {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-left: 0px;
}
.right .headMenu .leftTabs p{
    font-size: 17px;
    color: #FFC837;
    border-bottom: solid 2px #FFC837;
    cursor: pointer;
}
/* 店铺筛选 */
.right .filtrMenu{
    width: 90%;
    margin: 0 5%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .filtrMenu .filtrLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .filtrMenu .filtrLeft .courseType{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .filtrMenu .filtrLeft .courseType .courseTypeBtn.active{
    color: #fff;
    border: solid 1px #ffc837;
    background: #FFC837;
}
.right .filtrMenu .filtrLeft .courseType .courseTypeBtn{
    color: #989898;
    background: #fff;
    border: solid 1px #ffc837;
}
/* 人员查找 */
.right .filtrMenu .filtrLeft .userSearch{
    margin-left: 20px;
}
.right .filtrMenu .filtrRight .addStudent{
    color: #989898;
    border: solid 1px #FFC837;
    background: #fff;
}

/* **********table数据列表************** */
.right .courseList{
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
}
.right .courseList .courseItem{
    height: 240px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.right .courseList .courseItem .courseImg{
    width: 240px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
}
.right .courseList .courseItem .courseName{
    width: 240px;
    height: 20px;
    font-size: 17px;
    text-align: center;
    color: #999999;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.right .courseList .courseItem .opts{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.right .courseList .courseItem .opts .editCourse{
    margin-right: 20px;
    color: #989898;
    border: solid 1px #FFC837;
    background: #fff;
}
.right .courseList .courseItem .opts .deleteCourse{
    color: #989898;
    border: solid 1px #ed4014;
    background: #fff;
}
.right .courseList .page{
    margin-top: 10px;
    text-align: right;
}
