
/* *************** 课程管理选项 ***************/
/* 店铺筛选 */
.right .filtrMenu{
    width: 90%;
    margin: 0 5%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .filtrMenu .filtrLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .filtrMenu .filtrLeft .storeInfo{
    /* margin-left: 50px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .filtrMenu .filtrLeft .storeInfo label{
    font-size: 15px;
    margin-right: 10px;
    letter-spacing: 1px;
}
/* 时间筛选 */
.right .filtrMenu .filtrLeft .dateInfo{
    /* margin-left: 30px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .filtrMenu .filtrLeft .dateInfo label{
    font-size: 15px;
    margin-right: 10px;
    letter-spacing: 1px;
}
.right .filtrMenu .filtrRight{

}
.right .filtrMenu .filtrRight .editBtn,
.right .filtrMenu .filtrRight .saveBtn,
.right .filtrMenu .filtrRight .uploadBtn{
    color: #fff;
    background:  #FFC837;
}
/* *************** 课程详情 **************** */
.right .box{
    width: 90%;
    height: 700px;
    margin: 0 5%;
    margin-top: 20px;
}
.right .courseContainer{
    width: 100%;
    height: 800px;
    border-radius: 15px;
    border:solid 2px #F3F3F3;
}

.right .courseContainer .headView{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* 八月 */
.right .courseContainer .monthImg{
    width: 10%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right .courseContainer .monthImg .text{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    color:#fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    background: #FFC837;
}
/* 周一至周五 */
.right .courseContainer .weekTime{
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}
.right .courseContainer .weekTime div{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.right .courseContainer .weekTime .title{
    font-size: 16px;
    font-weight: bold;
    color: #999999;
}
.right .courseContainer .weekTime .time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #CBCBCB;
}

/* 课程内容显示 */
.right .courseContainer .contentView{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
}
.right .courseContainer .timeView{
    width: 10%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.right .courseContainer .timeView .firstTime,
.right .courseContainer .timeView .secondTime,
.right .courseContainer .timeView .thirdTime,
.right .courseContainer .timeView .fourthTime{
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.right .courseContainer .timeView .title{
    font-size: 16px;
    font-weight: bold;
    color: #999999;
}
.right .courseContainer .timeView .time{
    color: #CBCBCB;
}
/* 课程表 */
.right .courseContainer .courseView{
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.right .courseContainer .courseView .weekDay{
    width: 14%;
    height: 1360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right .courseContainer .courseView .weekDay .courseTime{
    width: 93%;
    height: 330px;
    border: solid 1px #E6E6E6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.right .courseContainer .courseView .weekDay .courseTime .mainCourse,
.right .courseContainer .courseView .weekDay .courseTime .otherCourse{
    width: 100%;
    height: 110px;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.right .courseContainer .courseView .weekDay .courseTime .mainCourse img,
.right .courseContainer .courseView .weekDay .courseTime .otherCourse img{
    width: 90%;
    height: 80px;
    border-radius: 3px;
    cursor: pointer;
}
/* .right .courseContainer .courseView .weekDay .courseTime .otherCourse{
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} */
.right .courseContainer .courseView .weekDay .courseTime .mainCourse span,
.right .courseContainer .courseView .weekDay .courseTime .otherCourse span{
    width: 90%;
    height: 20px;
    font-size: 10px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.right .courseContainer .courseView .weekDay .courseTime .teacherName{
    width: 100%;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #999999;
    cursor: pointer;
}
.right .courseContainer .courseView .weekDay .courseTime .teacherNameActive{
    width: 100%;
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #FFC837;
    cursor: pointer;
}
.right .courseContainer .courseView .weekDay .courseTime .students{
    width: 100%;
    text-align: center;
}
.right .courseContainer .courseView .weekDay .courseTime .students .studentListBtn{
    height: 32px;
    margin: 0 auto;
    color: #fff;
    background: #FFC837;
}


/* **************基础选课右侧弹出框*************** */
.mainCourseModel{
    width: 500px;
    height: 93vh;
    position: fixed;
    bottom: 0;
    right: -500px;
    background: #fff;
    border: solid 2px #FFC837;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: right 1s;
    overflow: auto;
}
.mainCourseModel.active{
    width: 500px;
    height: 93vh;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: right 1s;
    overflow: auto;
}
.mainCourseModel .closeIcon{
    position: fixed;
    right: -20px;
    top: 50%;
    cursor: pointer;
}
.mainCourseModel .closeIcon.active{
    position: fixed;
    right: 498px;
    top: 50%;
    transition: right 1s;
    background: #fff;
    cursor: pointer;
    width: 30px;
    border-left: solid 2px #ffc837;
    border-top: solid 2px #ffc837;
    border-top-left-radius: 5px;
    border-bottom: solid 2px #ffc837;
    border-bottom-left-radius: 5px;
    width: 20px;
    height: 45px;
    line-height: 45px;
}
.mainCourseModel .mianCourseTitle{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #656565;
    letter-spacing: 1px;
}
.mainCourseModel .mainCourseSearch{
    width: 80%;
}
.mainCourseModel .mianCourseTypes{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background: #CCCCCC;
}
.mainCourseModel .mianCourseTypes div{
    min-width: 80px;
    height: 30px;
    margin-right: 15px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #CCCCCC;
    cursor: pointer;
}
.mainCourseModel .mianCourseTypes div.active{
    min-width: 80px;
    margin-right: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #FFC837;
}
.mainCourseModel .mainCourseResultList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}
.mainCourseModel .mainCourseResultList .mainCourseItem{
    width: 97%;
    height: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 2px #FFC837;
}
.mainCourseModel .mainCourseResultList .mainCourseItem .mainCourseImg{
    width: 230px;
    height: 150px;
}
.mainCourseModel .mainCourseResultList .mainCourseItem .mainCourseInfo{
    width: 220px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainCourseModel .mainCourseResultList .mainCourseItem .mainCourseInfo .title{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #656565;
}
.mainCourseModel .mainCourseResultList .mainCourseItem .mainCourseInfo .des{
    width: 100%;
    height: 120px;
    text-indent: 2em;
    font-size: 10px;
    color: #999999;
    overflow:hidden;
    text-overflow: ellipsis;
}
.mainCourseModel .mainCourseResultList .mainCourseItem .mainCourseInfo .submit{
    width:110px;
    background: #FFC837;
    color: #fff;
}

/* **************运动课程选课中心*************** */
.sportCourseModel{
    width: 500px;
    height: 93vh;
    position: fixed;
    bottom: 0;
    right: -500px;
    background: #fff;
    border: solid 2px #FFC837;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: right 1s;
    overflow: auto;
}
.sportCourseModel.active{
    width: 500px;
    height: 93vh;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: right 1s;
    overflow: auto;
}
.sportCourseModel .closeIcon{
    position: fixed;
    right: -20px;
    top: 50%;
    cursor: pointer;
}
.sportCourseModel .closeIcon.active{
    position: fixed;
    right: 498px;
    top: 50%;
    transition: right 1s;
    background: #fff;
    cursor: pointer;
    width: 30px;
    border-left: solid 2px #ffc837;
    border-top: solid 2px #ffc837;
    border-top-left-radius: 5px;
    border-bottom: solid 2px #ffc837;
    border-bottom-left-radius: 5px;
    width: 20px;
    height: 45px;
    line-height: 45px;
}
.sportCourseModel .sportCourseTitle{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #656565;
    letter-spacing: 1px;
}
.sportCourseModel .sportCourseSearch{
    width: 80%;
}
.sportCourseModel .sportCourseTypes{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background: #CCCCCC;
}
.sportCourseModel .sportCourseTypes div{
    min-width: 80px;
    margin-right: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #CCCCCC;
    cursor: pointer;
}
.sportCourseModel .sportCourseTypes div.active{
    min-width: 80px;
    margin-right: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #FFC837;
}
.sportCourseModel .sportCourseResultList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}
.sportCourseModel .sportCourseResultList .sportCourseItem{
    width: 97%;
    height: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 2px #FFC837;
}
.sportCourseModel .sportCourseResultList .sportCourseItem .sportCourseImg{
    width: 230px;
    height: 150px;
}
.sportCourseModel .sportCourseResultList .sportCourseItem .sportCourseInfo{
    width: 220px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sportCourseModel .sportCourseResultList .sportCourseItem .sportCourseInfo .title{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #656565;
}
.sportCourseModel .sportCourseResultList .sportCourseItem .sportCourseInfo .des{
    width: 100%;
    height: 120px;
    text-indent: 2em;
    font-size: 10px;
    color: #999999;
    overflow:hidden;
    text-overflow: ellipsis;
}
.sportCourseModel .sportCourseResultList .sportCourseItem .sportCourseInfo .submit{
    width:110px;
    background: #FFC837;
    color: #fff;
}

/* **************教师选择中心*************** */
.teacherCourseModel{
    width: 500px;
    height: 93vh;
    position: fixed;
    bottom: 0;
    right: -500px;
    background: #fff;
    border: solid 2px #FFC837;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: right 1s;
    overflow: auto;
}
.teacherCourseModel.active{
    width: 500px;
    height: 93vh;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: right 1s;
    overflow: auto;
}
.teacherCourseModel .closeIcon{
    position: fixed;
    right: -20px;
    top: 50%;
    cursor: pointer;
}
.teacherCourseModel .closeIcon.active{
    position: fixed;
    right: 498px;
    top: 50%;
    transition: right 1s;
    background: #fff;
    cursor: pointer;
    width: 30px;
    border-left: solid 2px #ffc837;
    border-top: solid 2px #ffc837;
    border-top-left-radius: 5px;
    border-bottom: solid 2px #ffc837;
    border-bottom-left-radius: 5px;
    width: 20px;
    height: 45px;
    line-height: 45px;
}
.teacherCourseModel .tearcherCourseTitle{
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #656565;
    letter-spacing: 1px;
}
.teacherCourseModel .teacherCourseSearch{
    width: 80%;
}
.teacherCourseModel .teacherCourseTypes{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    background: #CCCCCC;
}
.teacherCourseModel .teacherCourseTypes div{
    min-width: 80px;
    margin-right: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #CCCCCC;
    cursor: pointer;
}
.teacherCourseModel .teacherCourseTypes div.active{
    min-width: 80px;
    margin-right: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #FFC837;
}
.teacherCourseModel .teacherCourseResultList{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}
.teacherCourseModel .teacherCourseResultList .teacherCourseItem{
    width: 97%;
    height: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 2px #FFC837;
}
.teacherCourseModel .teacherCourseResultList .teacherCourseItem .teacherCourseImg{
    width: 130px;
    height: 180px;
    border-radius: 8px;
}
.teacherCourseModel .teacherCourseResultList .teacherCourseItem .teacherCourseInfo{
    width: 220px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.teacherCourseModel .teacherCourseResultList .teacherCourseItem .teacherCourseInfo .title{
    font-size: 16px;
    color: #999999;
}
.teacherCourseModel .teacherCourseResultList .teacherCourseItem .teacherCourseInfo .des{
    width: 100%;
    height: 70px;
    font-size: 10px;
    color: #999999;
    display: flex;
    flex-direction: column;
}
.teacherCourseModel .teacherCourseResultList .teacherCourseItem .teacherCourseInfo .selectNum{
    width: 100%;
    height: 20px;
    font-size: 10px;
    color: #999999;
}
.teacherCourseModel .teacherCourseResultList .teacherCourseItem .teacherCourseInfo .submit{
    width:110px;
    background: #FFC837;
    color: #fff;
}


/* 设置滚动条的样式 */
::-webkit-scrollbar {
width:6px;
background-color: #fff;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
border-radius:10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
border-radius:5px;
background:#FFC837;
}
