
/* ************子菜单选项:用户记录。现存用户。店铺监控**************** */
.right .subMenu{
    width: 400px;
    margin-left: 5%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .subMenu .subMenuBtn{
    background: #CCCCCC;
    color: #fff;
    letter-spacing: 2px;
}
.right .subMenu .subMenuBtn.active{
    background: #FFC837;
    border-color: #FFC837;
    letter-spacing: 2px;
}
.right .subMenu .line{
    width: 4px;
    height: 20px;
    background: #FFC837;
}
/* 店铺筛选 */
.right .filtrMenu{
    width: 90%;
    margin: 0 5%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .filtrMenu .filtrLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .filtrMenu .filtrLeft .dateInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .filtrMenu .filtrLeft .dateInfo label{
    font-size: 15px;
    margin-right: 10px;
    letter-spacing: 1px;
}
.right .filtrMenu .filtrRight .back{
    background: #FFC837;
    border-color: #FFC837;
}
/* ****************店铺监控详情****************** */
.right .monitorDetailView{
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}
.right .monitorDetailView .opts{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:flex-end;
}
.right .monitorDetailView .opts .time{
    color: #FFC837;
    font-size: 20px;
}
.right .monitorDetailView .opts .checkHistoryBtn{
    background: #FFC837;
    border-color: #FFC837;
    letter-spacing: 2px;
}
.right .monitorDetailView .monitorDetail{
    width: 80%;
    height: auto;
    text-align: center;
    margin-top: 60px;
}
.right .monitorDetailView .monitorDetail img{
    width: 90%;
    height: 600px;
    border-radius: 40px;
}
