
/* ************子菜单选项:用户记录。现存用户。店铺监控**************** */
.right .subMenu{
    width: 400px;
    margin-left: 5%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .subMenu .subMenuBtn{
    background: #CCCCCC;
    color: #fff;
    letter-spacing: 2px;
}
.right .subMenu .subMenuBtn.active{
    background: #FFC837;
    border-color: #FFC837;
    letter-spacing: 2px;
}
.right .subMenu .line{
    width: 4px;
    height: 20px;
    background: #FFC837;
}
/* 店铺筛选 */
.right .filtrMenu{
    width: 90%;
    margin: 0 5%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .filtrMenu .filtrLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .filtrMenu .filtrLeft .ivu-select-selection{
    border: 1px solid #FFC837;
}
.right .filtrMenu .filtrLeft .storeInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .filtrMenu .filtrLeft .storeInfo label{
    font-size: 15px;
    margin-right: 10px;
    letter-spacing: 1px;
}
.right .filtrMenu .filtrLeft .dateInfo label{
    font-size: 15px;
    margin-left: 10px;
    letter-spacing: 1px;
}
/* ***************店铺监控列表******************* */
.right .monitorView{
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
}
.right .monitorView .time{
    color: #FFC837;
    font-size: 20px;
}
.right .monitorView .monitorItem{
    height: 400px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right .monitorView .monitorItem .monitorImg{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    cursor: pointer;
}
.right .monitorView .monitorItem .monitorInfo{
    width: 500px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right .monitorView .monitorItem .monitorInfo .area{
    font-size: 18px;
    color: #999999;
    letter-spacing: 2px;
}
.right .monitorView .monitorItem .monitorInfo .checkBtn{
    background: #FFC837;
    border-color: #FFC837;
}
