{% extends "manage/parent.html" %}

{% block cssfolder %}
<link rel="stylesheet" href="../public/manage/css/lib/iview.css">
<link rel="stylesheet" href="../public/manage/css/src/basic.css">
<link rel="stylesheet" href="../public/manage/css/src/addStudent.css">
{% endblock %}


{% block right %}
<div class="right">
    {% block headMenu %}
        <div class="headMenu">
            <div class="leftTabs">
                <i-button class="tabsBtn active" type="text" to="/manage/studentManage">用户管理</i-button>
            </div>
            <div class="rightUserInfo">
                <img class="headImg" src="../public/images/user.png">
                <span class="username">skhdbsb</span>
                <i-button class="loginOut" type="error" icon="md-log-out" shape="circle" to="/logout"></i-button>
            </div>
        </div>
    {% endblock %}

    <!-- 编辑人员信息 -->
    <div class="editStoreUserView">
        <p class="title">添加用户</p>
        <div class="storeUserInfoView">
            <div class="imgOpt">
                <div class="">
                    <img src="../public/images/user_default.png">
                </div>
                <!-- <p>更换图片</p> -->
                <div class="">
                    <p>添加头像</p>
                </div>
            </div>
            <div class="userInfo">
                <div class="userInfoItem">
                    <div class="infoTitle">用户姓名</div>
                    <div class="name">
                        <i-input v-model="formItem.realname" placeholder="姓名"></i-input>
                    </div>
                </div>
                <div class="userInfoItem">
                    <div class="infoTitle">用户性别</div>
                    <div class="genderRadio">
                        <radio-group v-model="formItem.gender">
                            <radio label="1" value="1">男</radio>
                            <radio label="2" value="2">女</radio>
                        </radio-group>
                    </div>
                </div>
                <div class="userInfoItem">
                    <div class="infoTitle">用户年龄</div>
                    <div class="age">
                        <i-input v-model="formItem.age" type="number" placeholder="年龄"></i-input>
                    </div>
                </div>
                <div class="userInfoItem">
                    <div class="infoTitle">用户ID</div>
                    <div class="age">
                        <i-input v-model="formItem.age" type="number" placeholder="年龄"></i-input>
                    </div>
                </div>
                <div class="userInfoItem">
                    <div class="infoTitle">健康状态</div>
                    <div class="jobNum">
                        <i-input v-model="formItem.idNum" placeholder="工号"></i-input>
                    </div>
                </div>

                <div class="userInfoItem">
                    <div class="infoTitle">家长联系电话</div>
                    <div class="jobNum">
                        <i-input v-model="formItem.idNum" placeholder="工号"></i-input>
                    </div>
                </div>
            </div>
        </div>

        <div class="opts">
            <i-button @click="submitEditStoreUserInfo">提交</i-button>
            <i-button @click="cancelEditStoreUserInfo">取消</i-button>
        </div>
    </div>
    <!-- 编辑人员信息 end -->
</div>
{% endblock %}

{% block jsfolder %}
	<script type="text/javascript" src="../public/manage/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../public/manage/js/lib/vue.min.js"></script>
	<script type="text/javascript" src="../public/manage/js/lib/iview.min.js"></script>
	<script type="text/javascript" src="../public/manage/js/src/config.js"></script>
	<script type="text/javascript" src="../public/manage/js/src/addStudent.js"></script>
{% endblock %}
