{% extends "manage/parent.html" %}

{% block cssfolder %}
<link rel="stylesheet" href="../public/manage/css/lib/iview.css">
<link rel="stylesheet" href="../public/manage/css/src/basic.css">
<link rel="stylesheet" href="../public/manage/css/src/courseContentManage.css">
{% endblock %}


{% block right %}
<div class="right">
    {% block headMenu %}
        <div class="headMenu">
            <div class="leftTabs">

            </div>
            <div class="rightUserInfo">
                {% if user.headicon %}
                    <img class="headImg" src="{{user.headicon}}">
                    <span class="username" v-text="'{{user.realname}}'"></span>
                {% else %}
                    <img class="headImg" src="../public/images/user.png">
                    <span class="username">游客</span>
                {% endif %}

            </div>
        </div>
    {% endblock %}

    <!-- 店铺筛选 -->
    <div class="filtrMenu">
        <div class="filtrLeft">
            <!-- <div class="storeInfo">
                <label>课程类型:</label>
                <i-select v-model="formItem.courseType" style="width:200px;" @on-change="courseTypeChange" placeholder="课程类型">
                    <i-option v-for="item in courseTypeData" :value="item.value" :key="item.value" :label="item.label" ></i-option>
                </i-select>
            </div> -->
            <div class="courseType">
                <i-button class="courseTypeBtn" :class="{active : courseTypeNum == 0 ? true : false}" type="warning" @click="courseTypeChange(0)">全部</i-button>
                <i-button class="courseTypeBtn" :class="{active : courseTypeNum == 1 ? true : false}" type="warning" @click="courseTypeChange(1)">基础课程</i-button>
                <i-button class="courseTypeBtn" :class="{active : courseTypeNum == 2 ? true : false}" type="warning" @click="courseTypeChange(2)">辅导课程</i-button>
                <i-button class="courseTypeBtn" :class="{active : courseTypeNum == 3 ? true : false}" type="warning" @click="courseTypeChange(3)">运动课程</i-button>
            </div>
            <div class="userSearch">
                <i-input class="userSearchInput" v-model="searchItem.courseName" placeholder="输入搜索内容" search @on-search="searchCourseSubTypeEvent"></i-input>
            </div>
        </div>
        <div class="filtrRight">
            <i-button class="addStudent" type="warning" @click="addCourseEvent">新增</i-button>
        </div>
    </div>
    <!-- 店铺筛选 end -->

    <!-- course数据列表 -->
    <div class="courseList">
        <ul style="min-height: 700px;">
            <row>
                <i-col :xs="24" :sm="8" :md="6" :lg="6" v-for="(item,index) in courseData">
                    <li class="courseItem">
                        <img class="courseImg" :src="item.courseThumbB" @click="couserDetail(item.Id)" title="查看课程视频">
                        <p class="courseName" v-text="courseTypeArr[item.courseType] + ':' + item.courseName"></p>
                        <div class="opts">
                            <i-button class="editCourse" type="warning" @click="editCourse(item.Id)">编辑</i-button>
                            <poptip
                                confirm
                                title="确定删除该课程?"
                                @on-ok="deleteCourse(item.Id)">
                                <i-button type="error">删除</i-button>
                            </poptip>
                        </div>
                    </li>
                <i-col>
            </row>
        </ul>
        <page class="page" page-size=12 :total="totalCourseNum" @on-change="pageChange" show-total show-elevator></page>
    </div>
    <!-- course数据列表 end -->

</div>
{% endblock %}

{% block jsfolder %}
	<script type="text/javascript" src="../public/manage/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../public/manage/js/lib/vue.min.js"></script>
	<script type="text/javascript" src="../public/manage/js/lib/iview.min.js"></script>
	<script type="text/javascript" src="../public/manage/js/src/config.js"></script>
	<script type="text/javascript" src="../public/manage/js/src/courseContentManage.js"></script>
{% endblock %}
