{% extends "manage/parent.html" %}

{% block cssfolder %}
<link rel="stylesheet" href="../public/manage/css/lib/iview.css">
<link rel="stylesheet" href="../public/manage/css/src/basic.css">
<link rel="stylesheet" href="../public/manage/css/src/courseContentManage.css">
{% endblock %}


{% block right %}
<div class="right">
    {% block headMenu %}
        <div class="headMenu">
            <div class="leftTabs">

            </div>
            <div class="rightUserInfo">
                <img class="headImg" src="../public/images/user.png">
                <span class="username">skhdbsb</span>
            </div>
        </div>
    {% endblock %}

    <!-- 店铺筛选 -->
    <div class="filtrMenu">
        <div class="filtrLeft">
            <div class="storeInfo">
                <label>店铺选择:</label>
                <i-select v-model="courseTypeId" style="width:200px;" @on-change="courseTypeChange" placeholder="课程类型">
                    <i-option v-for="item in courseTypeData" :value="item.value" :key="item.value" :label="item.label" ></i-option>
                </i-select>
            </div>
            <div class="userSearch">
                <i-input class="userSearchInput" v-model="searchCourseTypeValue" placeholder="输入搜索内容" search @on-search="searchCourseTypeEvent"></i-input>
            </div>
        </div>
        <div class="filtrRight">
            <i-button class="addStudent" type="warning" @click="addCourseEvent">新增</i-button>
        </div>
    </div>
    <!-- 店铺筛选 end -->

    <!-- table数据列表 -->
    <div class="courseList">
        <ul>
            <row>
                <i-col :xs="24" :sm="8" :md="6" :lg="6" v-for="(item,index) in [1,2,3,4,1,2,3,41,2,3,41,2]">
                    <li class="courseItem">
                        <p class="courseName">主要课程：《咏鹅》</p>
                        <img class="courseImg" src="../public/images/1.png">
                        <div class="opts">
                            <i-button class="editCourse" type="warning">编辑</i-button>
                            <i-button class="deleteCourse" type="error">删除</i-button>
                        </div>
                    </li>
                <i-col>
            </row>
        </ul>
        <page class="page" page-size=12 :total="100" show-total show-elevator></page>
    </div>
    <!-- table数据列表 end -->
</div>
{% endblock %}

{% block jsfolder %}
	<script type="text/javascript" src="../public/manage/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../public/manage/js/lib/vue.min.js"></script>
	<script type="text/javascript" src="../public/manage/js/lib/iview.min.js"></script>
	<script type="text/javascript" src="../public/manage/js/src/courseContentManage.js"></script>
{% endblock %}
