<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="../public/manage/css/lib/iview.css">
        <link rel="stylesheet" href="../public/manage/css/src/login.css">
    </head>
    <body>
        <div class="login" v-cloak>
            <i-input class="username" v-model="username" prefix="ios-contact" size="large" placeholder="请输入用户名"></i-input>
            <i-input class="password" v-model="password" prefix="ios-lock" type="password" size="large" placeholder="请输入密码"></i-input>
            <div class="opts">
                <checkbox size="large" v-model="rememberPwd">记住密码</checkbox>
                <span class="forgetPwd">忘记密码?</span>
            </div>
            <div class="submitBtn">
                <i-button class="submit" shape="circle" @click="login">登录</i-button>
            </div>
        </div>

    	<script type="text/javascript" src="../public/manage/js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="../public/manage/js/lib/vue.min.js"></script>
    	<script type="text/javascript" src="../public/manage/js/lib/iview.min.js"></script>
    	<script type="text/javascript" src="../public/manage/js/src/login.js"></script>
    </body>
</html>
