{% extends "manage/parent.html" %}

{% block cssfolder %}
<link rel="stylesheet" href="../public/manage/css/lib/iview.css">
<link rel="stylesheet" href="../public/manage/css/src/basic.css">
<link rel="stylesheet" href="../public/manage/css/src/studentManage.css">
{% endblock %}


{% block right %}
<div class="right">
    {% block headMenu %}
        <div class="headMenu">
            <div class="leftTabs">
                <i-button class="tabsBtn active" type="text" to="/manage/studentManage">用户管理</i-button>
            </div>
            <div class="rightUserInfo">
                {% if user.headicon %}
                    <img class="headImg" src="{{user.headicon}}">
                    <span class="username" v-text="'{{user.realname}}'"></span>
                {% else %}
                    <img class="headImg" src="../public/images/user.png">
                    <span class="username">游客</span>
                {% endif %}
                <i-button class="loginOut" type="error" icon="md-log-out" shape="circle" to="/logout"></i-button>
            </div>
        </div>
    {% endblock %}

    <!-- 店铺筛选 -->
    <div class="filtrMenu">
        <div class="filtrLeft">
            <div class="userSearch">
                <i-input class="userSearchInput" v-model="searchPersonalValue" placeholder="输入搜索内容" search @on-search="searchPersonalEvent"></i-input>
            </div>
        </div>
        <div class="filtrRight">
            <i-button class="addStudent" type="warning" to="/manage/addStudent">新增</i-button>
        </div>
    </div>
    <!-- 店铺筛选 end -->

    <!-- table数据列表 -->
    <div class="tableView">
        <i-table border :columns="columns" :data="tableData" stripe></i-table>
        <page class="page" :total="100" show-total show-elevator></page>
    </div>
    <!-- table数据列表 end -->
</div>
{% endblock %}

{% block jsfolder %}
	<script type="text/javascript" src="../public/manage/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../public/manage/js/lib/vue.min.js"></script>
	<script type="text/javascript" src="../public/manage/js/lib/iview.min.js"></script>
	<script type="text/javascript" src="../public/manage/js/src/config.js"></script>
	<script type="text/javascript" src="../public/manage/js/src/studentManage.js"></script>
{% endblock %}
