{% extends "manage/parent.html" %}

{% block cssfolder %}
<link rel="stylesheet" href="../public/manage/css/lib/iview.css">
<link rel="stylesheet" href="../public/manage/css/src/basic.css">
<link rel="stylesheet" href="../public/manage/css/src/userRecord.css">
{% endblock %}


{% block right %}
<div class="right">
    {% block headMenu %}
        <div class="headMenu">
            <div class="leftTabs">
                <i-button class="tabsBtn" type="text" to="/manage/courseManage">课程管理</i-button>
                <i-button class="tabsBtn" type="text" to="/manage/personalManage">人员管理</i-button>
                <i-button class="tabsBtn active" type="text">信息查看</i-button>
            </div>
            <div class="rightUserInfo">
                <img class="headImg" src="../public/images/user.png">
                <span class="username">skhdbsb</span>
                <i-button class="loginOut" type="error" icon="md-log-out" shape="circle" to="/logout"></i-button>
            </div>
        </div>
    {% endblock %}

    <!-- 子菜单选项 -->
    <div class="subMenu">
        <i-button class="subMenuBtn active" type="warning">用户记录</i-button>
        <span class="line"></span>
        <i-button class="subMenuBtn" type="default" to="/manage/existUsers">现存用户</i-button>
        <span class="line"></span>
        <i-button class="subMenuBtn" type="default" to="/manage/storeMonitor">店铺监控</i-button>
    </div>
    <!-- 子菜单选项 end -->

    <!-- 店铺筛选 -->
    <div class="filtrMenu">
        <div class="filtrLeft">
            <div class="storeInfo">
                <label>店铺选择:</label>
                <i-select v-model="storeId" style="width:200px;" @on-change="storeChange" placeholder="店铺">
                    <i-option v-for="item in storeData" :value="item.value" :key="item.value" :label="item.label" ></i-option>
                </i-select>
            </div>
            <div class="userSearch">
                <i-input class="userSearchInput" v-model="searchPersonalValue" placeholder="输入搜索内容" search @on-search="searchPersonalEvent"></i-input>
            </div>
        </div>
    </div>
    <!-- 店铺筛选 end -->

    <!-- table数据列表 -->
    <div class="tableView">
        <i-table border :columns="columns" :data="tableData" stripe></i-table>
        <page class="page" :total="100" show-total show-elevator></page>
    </div>
    <!-- table数据列表 end -->
</div>
{% endblock %}

{% block jsfolder %}
	<script type="text/javascript" src="../public/manage/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../public/manage/js/lib/vue.min.js"></script>
	<script type="text/javascript" src="../public/manage/js/lib/iview.min.js"></script>
	<script type="text/javascript" src="../public/manage/js/src/userRecord.js"></script>
{% endblock %}
